<div class="project-members">
  <div class="section-header">
    <h3>Members</h3>
    <button class="add-btn" type="button" (click)="openAddMember()">+ Add</button>
  </div>

  <div class="member-list">
    <div class="member-item" *ngFor="let member of members">
      <app-avatar [initial]="member.initial" size="sm"></app-avatar>
      <div class="member-info">
        <span class="member-name">{{ member.name }}</span>
        <span class="member-role">{{ member.role }}</span>
      </div>
    </div>
  </div>
</div>

<app-modal
  [isOpen]="isAddMemberOpen()"
  title="Add member"
  (closed)="closeAddMember()"
>
  <div class="available-members" *ngIf="availableMembers().length; else allMembersAssigned">
    <button
      class="available-member"
      type="button"
      *ngFor="let member of availableMembers()"
      (click)="addMember(member.id)"
    >
      <app-avatar [initial]="member.initial" size="sm"></app-avatar>
      <span>
        <strong>{{ member.name }}</strong>
        <small>{{ member.role }}</small>
      </span>
    </button>
  </div>
  <ng-template #allMembersAssigned>
    <p class="assignment-message">All available members are already assigned.</p>
  </ng-template>
</app-modal>